* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid rgb(0, 255, 0); */
}

@font-face {
    font-family: "1shrift";
    src: url(Russo_One/RussoOne-Regular.ttf);
}
header {
color: bisque;
} 

.menu {
    position: fixed;
    padding: 15px;
    background: rgba(4, 4, 4, 0.2);
    width: 100%;
}


section button {
    color: rgba(10, 116, 158, 0.801);
    font-family: "1shrift";
}


.separator{
    text-align: center;
    font-family: "1shrift";
    color: rgba(10, 116, 158, 0.801);
}

h1  {
    padding-top: 60px;
    text-align: center;
    font-family: "1shrift";
    color: rgba(10, 116, 158, 0.801);
}
h2{
    text-align: center;
    font-family: "1shrift";
    color: rgba(10, 116, 158, 0.801);
}
p{
    text-align: center;
    font-family: "1shrift";
    color: rgba(10, 116, 158, 0.801);
}

.photo{
    display: flex;
    justify-content: center;
}

.table {
    border: 1px solid rgb(0, 146, 90);
    margin: 0 auto;
    font-family: "1shrift";
    color: rgba(10, 116, 158, 0.801);
}
.title {
    font-weight: 500;
    padding: 15px;
}

.td1,
.td2 {
    width: 500px;
    font-weight: 500px;
    display: inline-block;
    padding: 10px;
    text-align: center;
}

.td1 {
    width: 500px;
    border-right: 1px solid black;
    font-weight: 500;
}

.i {
    margin: 0 auto;
    width: 750px;
}

.img-a {
    width: 1100px;
    height: 1100px;
}

.table,
.row,
.title {
    width: 1100px;
    border: 1px solid rgb(0, 146, 90);
    text-align: center;
    font-family: "1shrift";
}


span {
    color: rgba(10, 116, 158, 0.801);
}